@charset "utf-8";
/*Link für brand icons wie youtube oder soundcloud etc. buttons, symbole
	-> https://www.w3schools.com/icons/fontawesome_icons_intro.asp*/
/*1em = 16px*/

/*--- BODY ---*/
::-moz-selection {
	color: #ffffff;
	background: #ffffff;	
}
::selection {
	color: #ffffff;
	background: #ffffff;
}
header {
	text-align: left;
}
body {
	font-family: sans-serif;
	margin: 0;
	padding: 2em;
	background-color: #ffffff;
	text-align: left;
}
/*--- FOOTER ---*/
