@charset "utf-8";
/*--- BODY ---*/
/*--- general settings ---*/
::-moz-selection {
	color: #ffffff;
	background: #000000;	
}
::selection {
	color: #ffffff;
	background: #000000;
}
* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
header {
	text-align: center;
}
a, button, span, img.solImage, .mp3player {
	cursor: url('../img/metalhand.cur'), pointer;
}
h1 {
	text-align: center;
}
/*--- band logo and top navigation ---*/
div.logo {
	animation-name: logoTwist;
	animation-duration: 1.5s;
}
@keyframes logoTwist {
	0% {transform: rotateY(0deg);}
	100% {transform: rotateY(360deg);}
}
img.bandlogo {
	max-width: 60%;
}
.topNav {
	top: 0;
    overflow: hidden;
	position: fixed;
	z-index: 1;
	background-color: #ffffff;
}
.topNav a {
	/*float: left;*/
	display: block;
	color: #000000;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}
.topNav a:hover {
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #c1c1c1;
}
.topNav 
.navBarIcon {
	display: none;
}
/*--- music ---*/
.music {
	position: relative;
	display: block;
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
}
.epImgAndMusic {
	padding-left: 10%;
	padding-right: 10%;
}
.epImage {
	display: inline-block;
}
#epfg {
	width: 100%;
}
.songs {
	display: inline-block;
}
.mp3player {
	height: 1.5em;
	width: 100%;
	border-radius: 4px;
}
/*--- band ---*/
.band {
	padding-top: 3em;
	padding-bottom: 3em;	
}
img.theBand {
	display: none;
	position: relative;
	max-width: 84.5%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.sectionLogo {
	display: inline-block;
	position: relative;
	padding-top: 2.5em; 
	text-align: center;
}
#sectLogo {
	width: 45%;
}
#letter {
	z-index: 1;
	max-height: 3em;
}
.allOfUs {
	padding-top: 2.5em;
}
.aboutUs,
.thx {
	padding-left: 10%;
	padding-right: 10%;
	display: block;
	text-align: justify;
}
.aboutUs p:first-letter {
	font-size: 2.5em;
	text-shadow: 1px 0.5px 5px #c1c1c1;
}
.btnOpenMember {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	color: #000000;
	background-color: #ffffff;
	width: 85%;
	font-size: 1em;
	border: none;
	outline: none;
	text-align: center;
}
.btnOpenMember:hover {
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #c1c1c1;
}
.modalMember { 
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);	
}
.figContent {
	display: block;
}
#imageMbr { 
	display: block;
	position: relative;	
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	border-left: thin solid #c1c1c1;
	border-top: thin solid #c1c1c1;
	border-right: thin solid #c1c1c1;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.figText {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 0.35em;
	max-width: 322px; /*equal size to image width*/
	text-align: center-left;
	background-color: #ffffff;
	border-left: thin solid #c1c1c1;
	border-bottom: thin solid #c1c1c1;
	border-right: thin solid #c1c1c1;
	box-shadow: 2.5px 5px 7.5px #c1c1c1 inset;
}
#mbrName {
	position: absolute;
	top: 0;	
	left: 0.25em;
	z-index: 1;
	color: #ffffff;
	font-weight: bold;
}
.closeMember { 
	position: absolute;
	top: 0;
	right: 0.25em;  
	color: #ffffff;
	z-index: 1;
	text-decoration: none;
	font-size: 2.5em;
}
.closeMember:hover,
.closeMember:focus {
	color: #c1c1c1;
}
/*--- live gigs ---*/
.liveGigs {
	padding-top: 3em;
	padding-bottom: 3em;
}
#gigInfo {
	text-align: center;
}
.gigTable {	
	margin: auto;
	width: 50%;  
	text-align: center;
}
#fstRow {
	font-weight: bold;
}
th, td {
	padding: 0.5em;
	border-bottom: thin solid #c1c1c1;
}
.lastRow {
	border-bottom: none;
}
tr:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #c1c1c1;
}
/*--- pictures thumbnails ---*/
.pictures {
	padding-top: 3em;
	padding-bottom: 3em;
}
h2 {
	text-align: center;
	font-size: 1em;
}
.thumbnailList {
	margin-left: auto;
	margin-right: auto;
	width: 55%;
	text-align: center;
	border-bottom: thin solid #c1c1c1;
}
.solImage {
	position: relative;
	display: inline-block;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	transition: transform 0;
	padding: 0.15em;
	width: 10em;
	height: 10em;
	border: solid #ffffff;
}
.solImage:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#hiddenThumbs1, 
#hiddenThumbs2 {
	display: none;
}
.bthShowHideThumbs {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0.1em;
	color: #000000;
	background-color: #ffffff;
	width: 100%;
	font-size: 2em;
	font-weight: bold;
	border: none;
	outline: none;
	text-align: center;	
}
.bthShowHideThumbs:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #c1c1c1;
}
/*--- pictures lightbox ---*/
.galleryContainer {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 1em;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000000;
}
.modalGallery {
	position: relative;
}
#singlePicture {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;	
	transform: translate(-50%, -50%);
	max-width: 1000px;
	max-height: 500px;
}
.clsGallery { 
    position: absolute;
	padding: 0.1em 0.35em;
	z-index: 1;
    top: 0;
    right: 0;
	color: #ffffff;
	text-decoration: none;
	font-size: 2.5em;
}
.clsGallery:hover,
.clsGallery:focus {
	color: #000000;
	background-color: rgba(255, 255, 255, 0.5);
}
.prev,
.next {
	display: block;
	position: absolute;
	top: 5em;
	padding: 1em 0.5em;
	z-index: 1;
	color: #ffffff;
	text-decoration: none;
	font-size: 2.5em;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
	user-select: none;
    -webkit-user-select: none;
}
.next {
	right: 0;
    border-radius: 5px 0 0 5px;
}
.prev:hover,
.next:hover {
	color: #000000;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.5);
}
.nPicOffM {
	position: absolute;
	top: 0;
	z-index: 1;
	color: #ffffff;
}
/*---  ---*/
.noContent {
	padding-bottom: 25.25em;
}
/*--- FOOTER ---*/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #c1c1c1;
	color: #c1c1c1;
}
.smLinks {
	position: relative;
	overflow: hidden;
}
.smLinks a {
	text-decoration: none;
	color: #c1c1c1;
	font-size: 10px;
}
.smLinks a:hover {
	color: #000000;
}
.scCenter {
	float: none;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.ytRight {
	float: right;
	padding-right: 1em;
}
.fa {
    padding: 12px;
    font-size: 18px;
    width: 2.25em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    color: #c1c1c1;
	background-color: #000000;
}
.fa-facebook {
	background: #c1c1c1;
	color: #000000;
}
.fa-soundcloud {
	background: #c1c1c1;
	color: #000000;
}
.fa-youtube-play {
	background: #c1c1c1;
	color: #000000;
}
a.linkContactImprint {
	text-decoration: none;
	color: #c1c1c1;
}
a.linkContactImprint:hover {
	text-decoration: none;
	text-shadow: 0 0 5px #ffffff;
	box-shadow: 2px 0 15px #ffffff;
	color: #ffffff;
}
div.blackbottom {
	overflow: hidden;
	background-color: #000000;
	padding: 0;
	font-size: 0.75em;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-width: 100%;
	-moz-column-width: 100%;
	column-width: 100%;
}
#copyright {
	text-align: center;
}
#contactImprint {
	padding-top: 1em;
	text-align: center;
}
/*--- MEDIA SCREEN SETTINGS---*/
@media all and (min-width: 1800px){
#singlePicture {
	max-width: 1200px;
	max-height: 850px;
}
.prev,
.next {
	top: 10em;
}
}
/*
@media all and (max-width: 1200px){

}
@media all and (max-width: 1000px){
	
}
*/
@media all and (max-width: 770px){
.topNav a {
	display: none;
}
.topNav
.navBarIcon {
	float: right;
	display: block;
}
a.navBarIcon.active:after {
	content: "X";
}
.topNav.responsive {
	position: fixed;
	float: right;
	width: 100%;
}
.topNav.responsive 
a.navBarIcon {
	position: absolute;
	right: 100%;
	float: right;
	top: 0;
}
.topNav.responsive a {
	float: none;
	display: block;
	text-align: left;
}
.topNav a:visited {
	display: block;
}
.gigTable {	
	width: 80%;  
}
}
@media all and (max-width: 420px){
#imageMbr { 
	width: 99.5%;
}
.figText {
	width: 100%; 
	font-size: 0.85em;
}
@media all and (max-width: 360px){
#imageMbr { 
	width: 100%;
}
.figText {
	width: 100%; 
}
#singlePicture {
	max-width: 300px;
}
}